.pagination-container {
    display: flex;
    justify-content: center;
    gap: 2vh;
    list-style: none;
    margin-bottom: 4vh;
  }

  @media screen and (max-width: 500px) and (max-height: 950px){
    .pagination-container {
      padding: 0 0;
    }
  }
