

.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.form-select{
    width: 15% !important;
    margin-bottom: 3vh;
    background-color: rgba(0, 0, 0, 0.5) !important;
    outline: none !important;
    border: none !important;
    color: var(--Description-color) !important;
    text-align: center !important;
}

@media screen and (max-width: 500px) and (max-height: 950px){
    .form-select{
        width: 60% !important;
        text-align: center !important;
    }
    
}