.ludus-logo {
  width: 15%;
  height: 15%;
  margin: 2vh auto;
  margin-bottom: 0;
}

.header{
    background: linear-gradient(to bottom,#6A0DAD, rgba(0, 0, 0, 0.9));
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    padding-bottom: 1vh;
}

@media screen and (max-width: 500px) and (max-height: 950px){
  .ludus-logo {
    width: 40%;
    height: 40%;
  }
}